.r-pip .r-pip__open-btn {
  margin-bottom: 8px;
}

.r-pip .r-pip__container {
  position: relative;
}

.r-pip .r-pip__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed grey;
}