.list {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  max-width: 448px;
}

.list .list__header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid grey;
}